<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">App development refers to building, creating, and an maintaining websites. It includes aspects such as web design, web publishing, web programming, and database management. ... A web developer may be involved in designing a website.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
          <li><%= link_to "Home", root_path, class: 'text-white' %></li>
          <li><%= link_to "About Me", about_me_path, class: 'text-white' %></li>
          <li><%= link_to "Contact", contact_path, class: 'text-white' %></li>
          <li><%= link_to "Blog", blogs_path, class: 'text-white' %></li>
          <li><%= link_to "Portfolio", portfolios_path, class: 'text-white' %></li>
          <li><%= login_helper 'text-white' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <strong>Dev</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>