<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= @set_title %></title>

    <meta name="keywords" conternt=<%= @seo_keyowrds %>>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-start align-items-center">
        <div class="col-6 d-flex justify-content-start ml-0 auto">
          <h2>My Blog</h2>
        </div>
        <div class="col-6 d-flex justify-content-end ">
          <%= login_helper 'nav-link' %>
        </div>
      </div>
    </header>

    <%= render "shared/blog_nav"%>

    <div class="container">
      <div class="row">

        <%= yield %>

        <%= render "shared/blog_sidebar" %>

        <%= source_helper("blog") %>

      </div>
      <!-- Footer Start-->
        <footer class="blog-footer">
          <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>
            <a href="#">Back to top</a>
          </p>
        </footer>
      <!-- Footer End-->
    </div>    
  </body>
</html>